<div class="container-fuid">

    <div class="row d-flex align-items-center">

        <div class="col-12">

            <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-7">
                    <div class="container">

                        <input type="checkbox" id="flip">
                        <div class="cover">
                            <div class="front">
                                <img src="https://images.pexels.com/photos/3810796/pexels-photo-3810796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="">
                                <div class="text">
                                    <span class="text-1">Delas <br> Conectando empreendedoras</span>
                                    <span class="text-2">Faça seu login</span>
                                </div>
                            </div>
                            <div class="back">
                                <img class="backImg"
                                    src="https://images.pexels.com/photos/5685865/pexels-photo-5685865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="">
                                <div class="text">
                                    <span class="text-1">Ei, mulher, vamos subir mais um degrau?<br> só mais um
                                        passo</span>
                                    <span class="text-2">Vamos começar!</span>
                                </div>
                            </div>
                        </div>
                        <form action="#">
                            <div class="form-content">
                                <div class="login-form">
                                    <div class="title">Entrar</div>
                                    <div class="input-boxes">
                                        <div class="input-box">
                                            <i class="fas fa-envelope"></i>
                                            <input [(ngModel)]='userLogin.usuario' type="text" name="usuaLogin" id="usuaLogin" placeholder="Digite seu usuário" required>
                                        </div>
                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='userLogin.senha' type="password" name="senhaLogin" id="senhaLogin" placeholder="Digite sua senha" required>
                                        </div>
                                        <div class="text"><a href="#">Esqueceu a senha?</a></div>
                                        <div class="button input-box">
                                            <input type="submit" (click)='entrar()' value="Entrar">
                                        </div>
                                        <div class="text sign-up-text">Não tem conta? <label
                                                for="flip">Cadastre-se</label></div>
                                    </div>
                                </div>
                                <div class="signup-form">
                                    <div class="title">Cadastro</div>
                                    <div class="input-boxes">
                                        <div class="input-box">
                                            <i class="fas fa-user"></i>
                                            <input [(ngModel)]='usuario.nome'  type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
                                        </div>

                                        <i class="fas fa-lock">Como você se identifica?</i>
                                        <div class="input-box">

                                            <select class="form-control form-control-sm" name="genero" id="genero" (change)='generos($event)'>
                                                <option>Selecione...</option>
                                                <option value="mulherc">Mulher cisgenêro</option>
                                                <option value="mulhert">Mulher transgenêro</option>
                                                <option value="homemc">Homem cisgenêro</option>
                                                <option value="homemt">Homem transgenêro</option>
                                            </select>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='usuario.dataNasc'type="date" name="dataNasc" id="dataNasc" placeholder="Digite sua data de nascimento" required>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='usuario.email' type="email" name="email" id="name" placeholder="Digite seu email" required>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='usuario.usuario' type="text" name="usuario" id="usuario" placeholder="Digite seu usuário" required>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='usuario.telefone' type="text" name="telefone" id="telefone" placeholder="Digite seu telefone" required>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='usuario.fotoPerfil'type="url" name="url" id="urlfoto" placeholder="Insira a url da sua foto de perfil" required>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='usuario.endereco' type="text" name="endereco" id="endereco" placeholder="Digite seu endereço" required>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='usuario.url' type="url" name="url" id="urlsite" placeholder="Insira aqui a url do seu site" required>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='usuario.bio' type="text" name="bio" id="bio" placeholder="Digite sua bio" required>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input (input)='confirmSenha($event)' type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                                        </div>

                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='usuario.senha' type="password" name="confirmSenha" id="confirmSenha" placeholder="Confirmar senha" required>
                                        </div>

                                        <!--
                                            Example 1: <input [(ngModel)]="person.firstName" name="first">
                                            Example 2: <input [(ngModel)]="person.firstName" [ngModelOptions]="
                                        -->

                                        <i class="fas fa-lock">Selecione seu tipo de usuário</i>
                                        <select class="form-control" name="tipoUser" id="tipoUser" (change)='tipoUser($event)'>
                                            <option> Selecione um tipo de usuário</option>
                                            <option value="normal">Padrão</option>
                                            <option value="normal">Empreendedora</option>
                                            <option value="adm">Administrador</option>
                                        </select>

                                        <div class="button input-box">
                                            <input class="me-4" type="submit" value="cancelar" routerLink="/home">
                                            <input type="submit" value="cadastrar" (click)='cadastrar()'>
                                        </div>
                                        <div class="text sign-up-text">Já possui uma conta? <label for="flip">Faça o
                                                login</label></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>