<div class="container-fluid">

    <div class="banner">

        <div class="navbar">
           //Logo do Delas
            <img src="" alt="">

            <ul>

                <li> <a href="#">Home</a> </li>
                <li> <a href="#">Sobre nós</a> </li>
                <li> <a href="#">Contato</a> </li>

            </ul>
        </div>
                                // nome da rede social e descição 
        <div class="content">
            <h1>Delas </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quae neque sint corrupti, nam quas vel veniam. Repellendus nam fuga,<br> ab laborum totam facere eum culpa sit odio pariatur dolor.</p>
            <div>
                <button type="button">Login</button>
                <button type="button">Cadastre-se</button>
            </div>
        </div>

    </div>
</div>