<!--Primeira foto-->
<div>
    <div class="row position-relative">
        <div class="position-absolute top-50 start-0 text-light ms-3 col-6"><h4>Delas - Nosso objetivo é dar
            visibilidade para empreendedoras da periferia e conectar pessoas à produtos e serviços de qualidade.
        </h4> 
        <div class="row">
        <h4 class="col-3 mt-3 text-light">Cadastre-se</h4>
        <h4 class="col-3 mt-3 text-light">Login</h4>
    </div>

</div>
    <img src="https://formacao.pensegrande.org.br/file/13052/empreendedorismo-periferia-736px.jpg" class="img-fluid" alt="...">
</div>
</div>
<!--Primeira foto-->
<!--Segunda foto-->
<div>
    <div class="row position-relative">
    <div class="position-absolute top-50 start-100 translate-middle"><h4 class="col-6 text-dark mt-10">Bolos, marmitas, serviços de limpeza e muito mais em um só lugar, feito com muita dedicação e amor por elas.
    </h4>
    </div>
    <img src="https://www.userede.com.br/content/dam/userede/website/dia-da-mulher/imagem%20blog%20dia%20da%20mulher%201920x1080.png" class="img-fluid" alt="...">
</div>
</div>
<!--Segunda foto-->
<br>
<br>
<br>
<br>
<br>
<div>
    <div class="row">
        <div class="col-6">
            <h4 class="text-center mt-5">Empreendedoras
            </h4>
            <h5 class="text-center col-12">Divulgue seu produto ou serviço com a gente e tenha uma grande base de clientes.</h5>
        </div>
        <div class="col-6">
            <h4 class="text-center mt-5">Usuário</h4>
            <h5 class="text-center col-12">Compre produtos e serviços feitos por mulheres da periferia e apoie essas mulheres.</h5>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>